/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$textmain: white;
$textsec: #f0ad4e;
$textter: #292b2c;


$cone: green;
$ctwo: #f0ad4e;



$bgone: #292b2c;
$bgtwo: #28a745;
$bgthree: lightseagreen;
$bgfour: #24b14c;

	
$copac: rgba(0,0,0,0.1);
$textopc: rgba(255,255,255,.5);


$bodmain: #f0ad4e;
$bodsec: white;

$cnav : rgb(27, 135, 31);
$ccontentarea : #46b478;

