/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$textmain: white;
$textsec: #f2d533;
$textter: #292b2c;


$cone: green;
$ctwo: #f2d533;



$bgone: #292b2c;
$bgtwo: rgba(0,128,128,.2);
$bgthree: transparent;
$bgfour: #7bc87a;
$bgfive: rgba(255,255,255,.5);
$bgsix : rgba(54, 131, 91,0.75);

	
$copac: rgba(0,0,0,0.1);
$textopc: rgba(255,255,255,.5);


$bodmain: #f2d533;
$bodsec: white;

$cnav : #36835b;
$ccontentarea : rgba(36,60,48,0.1);
