/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$cwhite: white;
$cgreen: green;
$corange: #f0ad4e;
$copac: rgba(0,0,0,0.1);
$cinfo: #17a2b8;


$cnav : rgb(27, 135, 31);
$ccontentarea : #46b478;

